/* Primary Navigation
/* ---------------------------------------------------------- */

.gh-head-menu {
    display: flex;
    align-items: center;
    margin-top: 1px;
    font-weight: 500;
}

.gh-head-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gh-head-menu .nav li {
    margin: 0;
    padding: 0;
}

.gh-head-menu .nav a {
    display: inline-block;
    line-height: 1.7;
    color: inherit;
}

.gh-head-menu .nav a:hover {
    opacity: 0.9;
}
