/* Search
/* ---------------------------------------------------------- */

.gh-search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
}

.gh-search:hover {
    opacity: 0.9;
}

.gh-head-brand .gh-search {
    margin-right: 8px;
}

.gh-head-actions .gh-search {
    margin-right: -10px;
}

@media (max-width: 991px) {
    .gh-head-actions .gh-search {
        display: none;
    }
}

@media (min-width: 992px) {
    .gh-head-brand .gh-search {
        display: none;
    }
}
