{{!< default}}

{{!-- The main content area --}}
<main id="site-main" class="site-main">

    <div class="post-home-feed js-post-feed-scroll">

        {{#foreach posts}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}

    </div>

</main>
