/* 7.3. Subscribe
/* ---------------------------------------------------------- */

.footer-cta {
    position: relative;
    text-align: center;
}

.footer-cta-title {
    font-family: var(--font-serif);
    font-size: clamp(2.6rem, 5vw, 3.8rem);
    font-weight: 800;
    margin: 0 0 min(24px, 6.4vmin);
}

.footer-cta-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    padding: 5px 5px 5px 15px;
    font-size: 1.7rem;
    color: var(--color-secondary-text);
    background: #fff;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    transition: border-color 0.2s;
}

.footer-cta-button:hover {
    border-color: color-mod(var(--color-border) l(-12%));
}

.footer-cta-button span {
    display: inline-block;
    padding: 9px 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.005em;
    background: var(--ghost-accent-color);
    border-radius: 6px;
}
